.border-radius-0 {
	border-radius: 0;
}
.navbar-background {
	/* background-image: url(../img/navbar.jpg); */
	background-color: #ffffff85;
	color: #ffc107;
	/* border-bottom: 8px solid;
	border-image: linear-gradient(
		120deg,
		rgba(8, 8, 8, 1) 28%,
		rgba(255, 72, 0, 1) 37%,
		rgba(253, 194, 29, 1) 46%,
		rgba(242, 65, 0, 1) 53%,
		rgba(0, 0, 0, 1) 68%
	);
	border-image-slice: 100; */
}
.kontakt-border {
	border: 8px solid;
	border-image: linear-gradient(
		120deg,
		rgba(8, 8, 8, 1) 28%,
		rgba(255, 72, 0, 1) 37%,
		rgba(253, 194, 29, 1) 46%,
		rgba(242, 65, 0, 1) 53%,
		rgba(0, 0, 0, 1) 68%
	);
	border-image-slice: 200;
}

.navbar-font-style {
    color: #ffc107;
	font-size: x-large;
	font-weight: bold;
	font-family: Bahnschrift;
}



.navbar-items-layout{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.sections-background{
    background-color: #ffffff85;
}

.sections-font-style{
    font-family: Bahnschrift



}

.shadow-box-section{

    
    box-shadow: -1px 1px 2px 0px #ffc107;
}
.shadow-box-navbar{

    box-shadow: 1px 4px 8px 2px #710707;
}

.navbar-hoover-color{
    --bs-navbar-color: rgb(0 0 0 / 75%);
    --bs-navbar-hover-color:#ffc107;
}

.kontakt-font-weight{
    font-weight: 900
}
.dropdown-menu-style{
    --bs-dropdown-bg: rgba(0, 0, 0, 0.863);
    border: var(--bs-dropdown-border-width) solid #ffc10759;
    border-radius: 0;
    
}
.dropdown-item-color{
    color: #ffc107;
}