.border-radius-0{
    border-radius: 0;

}
.navbar-background{

/* background-image: url(../img/navbar.jpg); */
background-color: rgb(32, 43, 18);
color: #ffc107;
border-bottom: 8px solid;
border-image: linear-gradient(120deg, rgba(8,8,8,1) 28%, rgba(255,72,0,1) 37%, rgba(253,194,29,1) 46%, rgba(242,65,0,1) 53%, rgba(0,0,0,1) 68%);
border-image-slice: 100;


}
.kontakt-border{
    border: 8px solid;
    border-image: linear-gradient(120deg, rgba(8,8,8,1) 28%, rgba(255,72,0,1) 37%, rgba(253,194,29,1) 46%, rgba(242,65,0,1) 53%, rgba(0,0,0,1) 68%);
    border-image-slice: 200;

}