.border-radius-0 {
	border-radius: 0;
}
.navbar-background {
	/* background-image: url(../img/navbar.jpg); */
	background-color: #b0b8bfd9;
	color: #ffc107;
	/* border-bottom: 8px solid;
	border-image: linear-gradient(
		120deg,
		rgba(8, 8, 8, 1) 28%,
		rgba(255, 72, 0, 1) 37%,
		rgba(253, 194, 29, 1) 46%,
		rgba(242, 65, 0, 1) 53%,
		rgba(0, 0, 0, 1) 68%
	);
	border-image-slice: 100; */
}
.kontakt-border {
	border: 8px solid;
	border-image: linear-gradient(
		120deg,
		rgba(8, 8, 8, 1) 28%,
		rgba(255, 72, 0, 1) 37%,
		rgba(253, 194, 29, 1) 46%,
		rgba(242, 65, 0, 1) 53%,
		rgba(0, 0, 0, 1) 68%
	);
	border-image-slice: 200;
}

.navbar-font-style {
    color: #ffc107;
	font-size: x-large;
	font-weight: bold;
	font-family: "Helvetica Bold", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}



.navbar-items-layout{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
	

}

.sections-background{
    background-color: #ffffffbb;
}

.sections-font-style{
    font-family: "Sofia Pro","Helvetica Bold", Helvetica, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;



}

.shadow-box-section{

    
    box-shadow: -1px 1px 2px 0px #ffc107;
}
.shadow-box-navbar{

    box-shadow: 1px 4px 8px 2px #710707;
}

.navbar-hoover-color{
    --bs-navbar-color: rgb(0 0 0 / 75%);
    --bs-navbar-hover-color:#ffc107;
}

.kontakt-font-weight{
    font-weight: 900
}
.dropdown-menu-style{
    --bs-dropdown-bg: rgba(0, 0, 0, 0.863);
    border: var(--bs-dropdown-border-width) solid #ffc10759;
    border-radius: 0;
    
}
.dropdown-item-color{
    color: #ffc107;
}
.paralax{

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;

}

.signature-display{

	display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start
}
.icon-offer-size{
	width: 40px;

}
.icon-dropdown-size{
	width: 30px;

}
.shadow-box-offer{
-webkit-box-shadow: 0px 5px 3px -4px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 5px 3px -4px rgba(66, 68, 90, 1);
box-shadow: 0px 5px 3px -4px rgba(66, 68, 90, 1);

}


.background{


	-webkit-mask-image: linear-gradient(to bottom, #cc000000 10%, #103dcc 60%);
	backdrop-filter: blur(1px);
}
body{
	background-color: black;
}

.font-weight-heddings{

	font-weight: 600
}
.dropdown-items-display{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}
.dropdown-item-wrap{
	white-space: normal;
}
.logo-height{
	height: 65px;

}

header{
	position: sticky;
    top: 0;
	z-index: 2;

}
.center-map{

	display: flex;
    justify-content: center;
}
.scroll-margin-top{
scroll-margin-top: 100px;
}
.footer-settings{
	color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
	font-size: small;
	margin-bottom: 10px;
    margin-top: 10px;
}
.footer-text-border{
	border-left: 1px solid
}